body {
    overscroll-behavior: auto none;
    font-feature-settings: "ss04";
}

a {
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#__next {
    background-color: inherit;
    color: inherit;
}
