@import "./variable.scss";

* {
    box-sizing: border-box;
    &::selection {
        background-color: var(--accents-13);
        color: var(--accents-2);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}

a {
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#__next {
    background-color: inherit;
    color: inherit;
}
